certifi==2023.7.22
charset-normalizer==3.3.0
idna==3.4
numpy==1.26.0
Pillow==10.0.1
prompt-toolkit==3.0.39
psutil==5.9.5
PyAudio==0.2.13
PyGetWindow==0.0.9
PyRect==0.2.0
requests==2.31.0
six==1.16.0
urllib3==2.0.6
Wave==0.0.2
wcwidth==0.2.8
wit==6.0.1
wxPython==4.2.1
